OLLAMABOT_DISCORD_TOKEN=*see the README.md*
OLLAMABOT_MULTIMODAL = True  * True, because llama is a visual-capable model *
OLLAMABOT_MAX_HISTORY_LEN = 10 * Amount of messages it will remeber per channel for context(could kill the response time), set to 1 to disable * 
