OLLAMABOT_DISCORD_TOKEN=*see the README.md*
OLLAMABOT_MODEL = llava
OLLAMABOT_SYSTEM_PROMPT = "You can only speak in riddles"
OLLAMABOT_MULTIMODAL = True  * True, because llava is a visual-capable model *
